/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
   --color-titulos: #464646;
   --color-fondo-azul: #eaf2fd;
   --color-cajas: #fbfbfb;
   --azul-botones: #2a7ae4;

}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}
html {
    font-size: 16px;
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

section.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;
    height: 5vh;
    margin: 2rem 10rem;

}
/*Cabecera y espacios*/
header.menu__header {
    display: flex;
    justify-content: space-between;
    
    font-weight: 700;
    color: var(--color-titulos);
}

/*Items del Menu*/
section.menu nav ul.menu__list {
    display: flex;
    justify-content: space-between;
    width: 45vw;
    
}

/*Stylo para email nav*/
section.menu nav ul.menu__list li:nth-child(6) {
    color: black;
    font-weight: 700;
    
}

/*Sección Title*/

section.title{
    margin: 0 20rem;
    
    width: 50vw;

    color: var(--color-titulos);

}

section.title div.title__div {
    justify-content: space-around;
    align-content: flex-start;
    display: flex;
    flex-direction: row-reverse;

}

/*titulo ppal*/
section.title div.title__container h2 {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3.81rem;
    
}

/*imagen de perfil*/
section.title img.title__profile {
    margin-left: 2rem;
    margin-bottom: 2rem;
    width: 23rem;
    
        
}


section.title div.title__div div.title__container h3 {
    
    line-height: 1.5rem;
    width: 40rem;
    margin-bottom: 1.9rem;
    
}

/*container link redes sociales*/
section.title div.title__div div.title__container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 31.25rem;
    font-style: normal;
    line-height: 1rem;
           
}

/*Sección About*/

section.about {
    padding: 3.85rem 9.5rem;
    background-color: var(--color-fondo-azul);
}

/*Container Sección About*/
section.about div.about__container {
    width: 46rem;


}

section.about h3.about__title {
    font-size: 2rem;
    
}
/*textos seccion about*/
section.about div.about__container p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 18px;
}

/*Seccion Skills tamaño*/
section.skills {
    margin: 64px 100px;

}

/*Titulo de la Seccion*/
section.skills h3.skills__title {
    font-size: 32px;
    text-align: center;
    
}

/*Alineacion de iconos*/
section.skills div.skills__line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

/*Cajas Skills*/
section.skills div.skills__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    background-color: var(--color-cajas);
    margin: 22px 15px 22px 0px;
    width: 130px;
    height: 160px;
    
}


section.skills div.skills__box ul {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-titulos);
}

/*Sección Hobbies*/

section.hobbies{
    margin: 64px 100px;
    
}

/*Titulo de la Seccion*/
section.hobbies h3.hobbies__title {
    font-size: 32px;
    text-align: center;
    
}

/*Alineacion de iconos*/
section.hobbies div.hobbies__line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

/*Cajas Skills*/
section.hobbies div.hobbies__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    background-color: var(--color-cajas);
    margin: 22px 15px 22px 0px;
    width: 130px;
    height: 160px;
    
}

section.hobbies div.hobbies__box ul {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.3rem;
    color: var(--color-titulos);
}



/* Experiencia Académica*/

section.academic {
    padding: 4rem;
    background-color: var(--color-fondo-azul);

}

/* Titulo de la seccion*/
section.academic h2.academic__title{
    font-size: 1.8rem;
    text-align: center;

}

/* Posicion de la seccion*/
section.academic div.academic__courses{
    
    display:flex;
    justify-content: space-around;
 
}

section.academic div.academic__courses__box{
   width: 30rem;
   margin: 0 rem;

}

section.academic div.academic__courses__box ul{
    margin: 2rem;
    padding:0rem;
    width: 25rem
    height: 20rem;
   

}

section.academic div.academic__courses__box ul li{
     display: flex;

     
    
}

div.academic__courses__box ul li.academic__courses__item__img{
    justify-content: space-around;
    display: flex;
    background-color: var(--color-cajas);
    padding: 30%;

}
/* experiencia*/

/*experiencia 1*/

section.experience h2.experience__section__title {
    font-size: 2rem;
    text-align: center;
}

section.experience div.experience__box {

    display: flex;
    margin:  0rem 5rem;

}



section.experience div.experience__box img.experience__img {

   margin: 1.5rem;

}
div.experience__box div.experience__info  {

    margin-bottom: : 2rem;
    padding: 9rem 2rem;
   
 }

 div.experience__info h2.experience__title  {

    font-size: 1.5rem;

    
 }
div.experience__info h3.experience__text  {
    
   color: var(--color-titulos);

    font-size: 1rem;
    
 }


div.experience__info  div.experience__description span.experience__repo a  button.experiencia__botao--repo  {
    margin: 0.2rem;
    border-radius: 0;
    width: 7rem;
    height: 3.3rem;
    border-color: var(--azul-botones);
    color: var(--azul-botones);
    
 }

div.experience__info  div.experience__description span.experience__demo a  button.experience__botao--demo  {
   background-color: var(--azul-botones);
    border-radius: 0;
    width: 7rem;
    height: 3.3rem;
    border-color: var(--azul-botones);
    color: white;
    
 }

/*experiencia 2*/



section.experience div.experience__box2 {
    flex-direction: row-reverse;
    display: flex;
    margin:  0rem 5rem;

}



section.experience div.experience__box2 img.experience__img {

   margin: 1.5rem;

}
div.experience__box2 div.experience__info  {

    margin-bottom: : 2rem;
    padding: 9rem 2rem;
   
 }

 div.experience__info h2.experience__title  {

    font-size: 1.5rem;

    
 }
div.experience__info h3.experience__text  {
    
   color: var(--color-titulos);

    font-size: 1rem;
    
 }


div.experience__info  div.experience__description span.experience__repo a  button.experiencia__botao--repo  {
    margin: 0.2rem;
    border-radius: 0;
    width: 7rem;
    height: 3.3rem;
    border-color: var(--azul-botones);
    color: var(--azul-botones);
    
 }

div.experience__info  div.experience__description span.experience__demo a  button.experience__botao--demo  {
   background-color: var(--azul-botones);
    border-radius: 0;
    width: 7rem;
    height: 3.3rem;
    border-color: var(--azul-botones);
    color: white;
    
 }




/*experiencia 3*/








/*experiencia 4*/
section.experience div.experience__box4 {
    flex-direction: row-reverse;
    display: flex;
    margin:  0rem 5rem;

}



section.experience div.experience__box4 img.experience__img {

   margin: 1.5rem;

}
div.experience__box4 div.experience__info  {

    margin-bottom: : 2rem;
    padding: 9rem 2rem;
   
 }

 div.experience__info h2.experience__title  {

    font-size: 1.5rem;

    
 }
div.experience__info h3.experience__text  {
    
   color: var(--color-titulos);

    font-size: 1rem;
    
 }


div.experience__info  div.experience__description span.experience__repo a  button.experiencia__botao--repo  {
    margin: 0.2rem;
    border-radius: 0;
    width: 7rem;
    height: 3.3rem;
    border-color: var(--azul-botones);
    color: var(--azul-botones);
    
 }

div.experience__info  div.experience__description span.experience__demo a  button.experience__botao--demo  {
   background-color: var(--azul-botones);
    border-radius: 0;
    width: 7rem;
    height: 3.3rem;
    border-color: var(--azul-botones);
    color: white;
    
 }

/*Contacto*/

section.formcontato{
   
    background-color: var(--color-fondo-azul);

}
section.formcontato div.formcontato__contacto{
    display: flex;
    padding:  8rem 7rem;
}
section.formcontato div img.formcontato__img {
    
    width: 24rem;
    height: 37rem;

}

section.formcontato  div.formcontato__text{

    margin-left: 2rem;
    
}

section.formcontato  div.formcontato__text h2{
   
    margin: 0;
    font-size: 2.5rem;
    
}

div.formcontato__text h3.formcontato__subtext{
    color: var(--color-titulos);
    font-size: 1.1rem;
}

div.formcontato__text form.formcontato__form {
    flex-direction: column;
    display: flex;
}

div.formcontato__text form.formcontato__form input{
     
    border: none;
    height: 4rem;
    margin-bottom: 1.5rem;
}

form.formcontato__form textarea.formcontato__textarea{
    border: none;
    height: 7rem;
    margin-bottom: 1.5rem;

}

form.formcontato__form button.formcontato__botao{
    background-color: var(--azul-botones);
    border-radius: 0;
    width: 8rem;
    height: 3.3rem;
    border-color: var(--azul-botones);
    color: white;
}

/*footeer*/

section.footer{
    text-align: center
   
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (min-width: 768px) {

/* Menú */

/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/
 
/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/

}